<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>




    
    <form action="/index" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="name" id="floatingInput" placeholder="Spreadsheet Name">
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="description" id="floatingInput" placeholder="Description">
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="source" id="floatingInput" placeholder="Source">
        </div>

        <input type="submit" class="btn btn-secondary" value="Submit" />
    </form>

<%- include('./partials/footer.ejs') %>
    
